@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	font-family: 'Roboto';
}

html, body{
	background-color:#000000;
	height:100%;
	margin:0;
	color:#FFFFFF;
}

body p{
color: #FFFFFF;
line-height:3em;	
letter-spacing: 1px;
}


a{
position:fixed;
top:20px;
left:20px;
z-index: 100000px;
	box-sizing: content-box;
background-blend-mode:lighten;
}
a img{
width:100%;

}

.logo{
	filter:invert(100%);
}

.fadebox{
	position:absolute;
	top: 0;
	left: 0;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity:0;
}

.fadebox a{
	display:block;
	font-size:25px;
	padding: 270px 960px;
	border: none;
	color:rgba(255,255,255,1);
	text-decoration:none;
	background: rgba(229, 94, 56, 1);
}

.fadebox a:hover{
	color: rgba(229, 94, 56, 1);
	background: rgba(255, 255, 255, 1);
}

.fadebox2{
	position:absolute;
	top: 540px;
	left: 0px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity:0;
}

.fadebox2 a{
	display:block;
	font-size:25px;
	padding: 270px 960px;
	border: none;
	color:rgba(255,255,255,1);
	text-decoration:none;
	background: rgba(229, 94, 56, 1);
}

.fadebox2 a:hover{
	color: rgba(229, 94, 56, 1);
	background: rgba(255, 255, 255, 1);
}

.fadebox3{
	position:absolute;
	top: 1080px;
	left: 0px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity:0;
}

.fadebox3 a{
	display:block;
	font-size:25px;
	padding: 270px 960px;
	border: none;
	color:rgba(255,255,255,1);
	text-decoration:none;
	background: rgba(229, 94, 56, 1);
}

.fadebox3 a:hover{
	color: rgba(229, 94, 56, 1);
	background: rgba(255, 255, 255, 1);
}

.fadebox4{
	position:absolute;
	top: 1620px;
	left: 0px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity:0;
}

.fadebox4 a{
	display:block;
	font-size:25px;
	padding: 270px 960px;
	border: none;
	color:rgba(255,255,255,1);
	text-decoration:none;
	background: rgba(229, 94, 56, 1);
}

.fadebox4 a:hover{
	color: rgba(229, 94, 56, 1);
	background: rgba(255, 255, 255, 1);
}
.fadebox5{
	position:absolute;
	top: 2160px;
	left: 0px;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity:0;
}

.fadebox5 a{
	display:block;
	font-size:25px;
	padding: 270px 960px;
	border: none;
	color:rgba(255,255,255,1);
	text-decoration:none;
	background: rgba(229, 94, 56, 1);
}

.fadebox5 a:hover{
	color: rgba(229, 94, 56, 1);
	background: rgba(255, 255, 255, 1);
}

.longpic {
	position:relative;
	margin:0px;
}

.longpic img{
	filter:opacity(40%);
}

.map{
	
}

footer{
	text-align:center;
	padding-top:100px;
	color:#FFFFFF;
}

.wraper{
	min-height: calc(100%-10px);
}
.footer{
	position:relative;
	height:50px;
}